snippet func "function"
function ${1:funcName} (${2}){
    ${3}
}
endsnippet

snippet php "phpstart"
<?php
${1}
endsnippet

snippet fphp "phpstart"
<?php
${1}
?>
endsnippet

snippet spt "short php tag"
<?=${1}?>
endsnippet

snippet kv "key => value"
${1} => ${2}
endsnippet
